body {
    color: #777;
    background: transparent;
    margin: 0;
    padding: 0;
    font: 13px/20px sans-serif;
}

a {
    color: darkblue;
}

:link, :visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

.recentsong .spunpart {
    display: none;
}

.recentsong .tweet img {
    vertical-align: -15%;
}

.recentsong b {
    font-weight: normal;
    color: black;
}

#pltable td, div.schedbg0, div.schedbg1 {
    background: inherit;
}

#bigscheddiv {
    height: 140em;
    font-size: 95%;
}

div.schedday {
    top: 2em !important;
}

.spin-headline {
    width: 100%;
    height: 18px;
    overflow: hidden;
}