header, footer, nav {
    display: block;
}

body {
    margin: 0 auto;
    max-width: 940px;
    font: 16px/24px calibri, sans-serif;
    background: #f8f8f8;
}

.clear {
    clear: both;
}

p {
    margin: 0.5em 0 0;
}

a, a code {
    color: #2366A8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "lucida", "lucida sans unicode", sans-serif;
    margin: 1.25em 0 1em;
}

h1 {
    margin-top: 0 !important;
}

h3 {
    font-weight: normal;
}

ul, ol {
    padding-left: 2em;
}

ol li ul:first-of-type {
    margin-top: 0;
}

#wrapper {
    line-height: 1.4;
    background: #fff;
    margin: 1em;
}

nav {
    table-layout: fixed;
    width: 100%;
    font: 16px/2.5 "lucida", "lucida sans unicode", sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li a {
    display: block;
    text-align: center;
    margin: 0 1px 1px 0;
    color: white;
    background: #505057;
}

nav ul li a:hover {
    background: #222;
}

.widget-box {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 91%;
    padding: 1em;
    background: #FFFABC;
}

.widget-box h1 {
    font-weight: normal;
    font-size: 1.4em;
}


.widget-box h2 {
    font-weight: normal;
    font-size: 1em;
}

.widget-box p {
    margin: 0.1em 0.5em;
}


@media screen and (max-width: 760px) {
    /* mobile */
    #wrapper {
        margin: 0;
        padding: 1em;
    }

    nav, nav ul, nav ul li {
        display: block;
    }

    .widget-box {
        width: auto;
        float: none;
        margin: 0;
    }

    div.main-text {
        padding: 0 1em 1em;
    }
}

@media screen and (min-width: 761px) {
    /* big screen */
    #wrapper {
        margin: 1.5em 0.3em 4em;
        padding: 2em;
        border-radius: 0.4em;
        box-shadow: 0 0 0.3em 0.3em #ddd;
    }

    nav {
        display: table;
    }

    nav ul {
        display: table-row;
    }

    nav ul li {
        display: table-cell;
    }

    .widget-box {
        width: 40%;
        float: right;
        margin: 0 0 1em 2em;
        box-shadow: 0 0 0.2em 0.2em #e7e7e7;
    }
}

#spin-wrap {
    height: 25em;
}

#spin-iframe {
    display: block;
    border: none;
    width: 100%;
    height: 100%;
    margin: 0;
}

.spin-headline {
    display: block;
    padding: 0.5em 0 0;
}

.spin-headline iframe {
    height: 1.4em !important;
}

.spin-sched {
    height: 130em;
}

footer {
    margin-top: 2em;
    border-top: 1px solid #aaa;
    font-size: 0.9em;
    font-family: 'News Cycle', sans-serif;
}

.bitbucket {
    font-family: Calibri, sans-serif;
    border: 1px solid #0a0;
    border-radius: 3px;
    padding: 0.5em 1em;
    color: #060;
    background-color: #dfd;
}

p.bitbucket {
    display: inline-block;
    margin: 0.5em 0;
}

code, tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
    font-family: Monaco, Consolas, monospace;
    font-size: 12px;
    color: #333
}

pre > code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: 0;
    background: transparent
}

pre {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px
}

pre code {
    background-color: transparent;
    border: 0
}

@media print {
    body {
        background: #fff
    }

    img, pre, blockquote, table, figure {
        page-break-inside: avoid
    }

    #wrapper {
        background: #fff;
        border: 0
    }

    code {
        background-color: #fff;
        color: #333 !important;
        padding: 0 .2em;
        border: 1px solid #dedede
    }

    pre {
        background: #fff
    }

    pre code {
        background-color: white !important;
        overflow: visible
    }
}
